
  <%- include('header') %>
<footer>
    <a href="https://www.facebook.com/abhisekh.gupta.1840"
      ><i class="fa-brands fa-facebook"></i
    ></a>
    <a href="https://www.linkedin.com/in/abhisekh-gupta-341121217/"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a href="https://www.instagram.com/abisec_"
      ><i class="fa-brands fa-square-instagram"></i
    ></a>
    <a href="https://github.com/abhisekhgupta10"
      ><i class="fa-brands fa-github"></i
    ></a>
    <p>&copy; Copyright 2023 | developed by Abhisekh</p>
  </footer>