<%- include('header') %>
<header>
    <nav>
      <div class="logo">Abhi<span>sekh</span></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li>
          <a href="/articles" class="blog-nav">Articles</a>
        </li>
      </ul>

      <div class="bar">😂</div>
    </nav>
  </header>
 <script src="/js/script.js"></script>
    
  </body>