<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abhisekh Gupta</title>
    <meta
      name="description"
      content="Hello I am Abhisekh Gupta from Tulsipur, Dang, Nepal. I am a fullstack developer with hands on skills on HTML CSS JS Bootstrap NodeJs Express and MongoDB. "
    />
    <meta
      name="keyword"
      content="Abhisekh Gupta Tulsipur Dang Nepal Fullstack Developer HTML CSS JS Bootstrap NodeJs Express and MongoDB "
    />
    <meta name="author" content="Abhisekh Gupta" />
    <!-- <link href="https://abhisekhgupta.onrender.com" rel="canonical"> -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/fa862b6cef.js"
      crossorigin="anonymous" defer
    ></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-HRY8B0Q6DX" defer
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-HRY8B0Q6DX");
    </script>
  </head>

  <body>
    <header>
      <nav>
        <div class="logo">Abhi<span>sekh</span></div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
          <li>
            <a href="/articles" class="blog-nav">Articles</a>
          </li>
        </ul>

        <div class="bar">😂</div>
      </nav>
    </header>
    <main>
      <section id="hero" class="section">
        <div class="container">
          <div class="txt-container">
            <h1>Hare Krishna</h1>
            <p>I am</p>
            <div class="name">Abhisekh</div>
            <a href="#contact" class="btn">Hire me</a>
          </div>
          <div class="img-container">
            <img src="/images/heroimg.png" alt="Abhisekh Gupta" />
          </div>
        </div>
      </section>
    </main>

    <h3 class="quote"></h3>
    <p class="author"></p>
    <article>
      <section class="section" id="about">
        <h2>About Me</h2>
        <div class="container-me">
          <div class="img-container-me">
            <img src="/images/heroimg.png" alt="Abisekh Gupta" />
          </div>

          <div class="txt-container">
            <p>
              Hare Krishna. Myself Abhisekh Gupta from Nepal, living in
              Tulsipur, Dang. I am currently pursuing my bachelors degree in the
              field of Computer Science from Ambikeshwari Campus which is
              affiliated with Tribhuwan University.
            </p>
            <p>
              I have hands On-skill in Frontend Web Development. Likely HTML,
              CSS, JS, Bootstrap. Along my abilities in Backend Development.
              Likely Nodejs, MongoDB.
            </p>
            <a href="" class="btn">Download C.V</a>
          </div>
        </div>
      </section>

      <section class="section" id="projects">
        <h2>Projects</h2>
        <div class="cards">
          <div class="card-container">
            <div class="img"></div>
            <div class="text">
              <h4>QR-Code</h4>
              <p>This is a web app that generates QR-Code on given input.</p>
              <a href="https://abhisekhgupta10.github.io/qr-code-generator/"
                >Try it</a
              >
            </div>
          </div>

          <div class="card-container">
            <div class="img"></div>
            <div class="text">
              <h4>Quote Generator</h4>
              <p>This is a web app that generates random quote</p>
              <a href=" https://abhisekhgupta10.github.io/quoteapp/">Try it</a>
            </div>
          </div>

          <div class="card-container">
            <div class="img"></div>
            <div class="text">
              <h4>Text-to-Speech</h4>
              <p>This is a web app that converts text into speech</p>
              <a href=" https://abhisekhgupta10.github.io/Maichyang/">Try it</a>
            </div>
          </div>

          <div class="card-container">
            <div class="img"></div>
            <div class="text">
              <h4>Love Calculator</h4>
              <p>
                This is a web app that calculates love percentage. Its for fun.
              </p>
              <a href="https://abhisekhgupta10.github.io/Love-Calculator/"
                >Try it</a
              >
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="contact">
        <h2>Contact me</h2>

        <div class="form-area">
          <form action="/contact" method="post">
            <label for="Fullname">Fullname</label>
            <input type="text" name="fullName" required />
            <label for="email">E-mail</label>
            <input type="email" name="email" required />
            <label for="contact">Mobile Number</label>
            <input type="number" name="contact" required />
            <label for="address">Address</label>
            <input type="text" name="address" required />
            <label for="message">Your Message</label>
            <textarea name="message"></textarea>
            <input type="submit" value="Submit" />
          </form>
        </div>
      </section>
    </article>
    <button onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>

    <footer>
      <a href="https://www.facebook.com/abhisekh.gupta.1840"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.linkedin.com/in/abhisekh-gupta-341121217/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/abisec_"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://github.com/abhisekhgupta10"
        ><i class="fa-brands fa-github"></i
      ></a>
      <p>&copy; Copyright 2023 | developed by Abhisekh</p>
    </footer>
   
    <script src="/js/script.js"></script>
  </body>
</html>
